<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Добавить товар</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<div class="container p-4">
    <h2>Добавить товар</h2>

    <form action="/items" method="post">
        <div class="mb-3">
            <label class="form-label">Название товара</label>
            <input class="form-control" type="text" name="title" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Описание товара</label>
            <textarea class="form-control" name="description" required></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Цена</label>
            <input class="form-control" type="number" name="price" min="1" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Путь к картинке</label>
            <input class="form-control" type="text" name="imgPath" placeholder="images/product.png">
        </div>

        <button class="btn btn-success" type="submit">Сохранить</button>
        <a class="btn btn-secondary" href="/items">Отмена</a>
    </form>
</div>
</body>
</html>